<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ユーザー登録</title>
</head>
<body>
    <div class="card">
        <!-- フラッシュメッセージの表示 -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <h1>ユーザー登録</h1>
    <form method="POST">
    {{ form.hidden_tag() }}  <!-- CSRFトークン -->
        <label for="username">ユーザー名:</label>
    {{ form.username }}
    
        <label for="password">パスワード:</label>
    {{ form.password }}
        
        <label for="confirm_password">パスワード確認:</label>
    {{ form.confirm_password }}     
        
    <button type="submit">登録する</button>
</form>
</div>
    <p>既にアカウントをお持ちですか？ <a href="{{ url_for('login') }}">ログイン</a></p>
</body>
</html>
